@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
